* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family:'Fredoka', system-ui, Arial, sans-serif;
    color: #000000;
    background: #7c7c7c;
    line-height: 1,6;
}

.topbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #000000;
    border-bottom: 4px solid #7c7c7c;
    font-size: large;
}

.container {
    width: min(1100px, 92%);
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo {
    font-weight: 800;
    text-decoration: none;
    color : #f5f5f5;
    font-size: 1.5rem;
    padding: 0.8rem 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
}

nav a:hover {
    background-color: #7c7c7c;
}
section {
    padding: 3rem 0;
    scroll-margin-top: 4rem;
}

section h2 {
    margin-bottom: 0.4rem;
    font-size: 1.8rem;
}

.section-subititle,
.hero p {
    color : #7c7c7c;
    margin-bottom: 1rem;
}

.hero h1 {
    margin-bottom: 0.4rem;
    font-size: 2.2rem;
}

.hero-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
   align-items: center;
}

.hero-text {
    max-width: 50%;
}

.hero-img {
    max-width: 50%;
    background: #000000;
    border: 1px solid #ff0000;
    border-radius: 0.8rem;
    padding: 0.6rem;
}

.hero-img img {
    width: 100%;
    display: block;
    border-radius: 0.5rem;
}

.alt {
    background-color: #ffffff;
}

.menu-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: stretch;
    justify-content: center;
}

.item {
    flex-basis: 360px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #000000;
    border-radius: 12px;
    padding: 13px;
}

.Pursuer {
    flex-basis: 360px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #163614;
    border-radius: 12px;
    padding: 13px;
}

.Badware {
    flex-basis: 360px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #2a9123;
    border-radius: 12px;
    padding: 13px;
}

.Artful {
    flex-basis: 360px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: hsl(0, 0%, 53%);
    border-radius: 12px;
    padding: 13px;
}

.Harken {
    flex-basis: 360px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: hsl(66, 70%, 43%);
    border-radius: 12px;
    padding: 13px;
}
.thumb {
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.Killdroid {
    flex-basis: 360px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: hsl(0, 98%, 25%);
    border-radius: 12px;
    padding: 13px;
}

.Pretence {
    flex-basis: 360px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: hsl(0, 0%, 66%);
    border-radius: 12px;
    padding: 13px;
}

.Civil {
    flex-basis: 360px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: hsl(0, 1%, 79%);
    border-radius: 12px;
    padding: 13px;
}

.loveshot {
    display: inline-block;
    background: #acacac;
    color: #79258a;
    font-weight: 700;
    padding: 4px 8px 4px 8px;
    border-radius: 8px
}

.Carepad {
    display: inline-block;
    background: #acacac;
    color: #36c23d;
    font-weight: 700;
    padding: 4px 8px 4px 8px;
    border-radius: 8px
}

.thumb img {
    width: 50%;
    display: block;
    border-radius: 8px;
    transition: transform 0.4s ease;
}

.thumb img:hover {
    transform: scale(1.08) rotate(-2deg);
}

.item p {
    color:#ffffff;
    margin-top: 0;
    margin-bottom: 8px;
}

.item h3{
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 18px;
}
.HP {
    display: inline-block;
    background: #acacac;
    color: #258a2a;
    font-weight: 700;
    padding: 4px 8px 4px 8px;
    border-radius: 8px
}

.SP {
    display: inline-block;
    background: #acacac;
    color: #4177c9;
    font-weight: 700;
    padding: 4px 8px 4px 8px;
    border-radius: 8px
}